<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-for</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <h1 v-for="todo in todos" v-bind:key = "todo.id">{{todo.id}} {{todo.decription}}</h1>
        <ol>
            <li v-for="todo in todos" :key="todo.id" v-bind:value="todo.id">{{todo.decription}}</li>
       
        </ol>
    </div>

    <script>
        const App = {
            data(){
                return{
                   todos: [
                       {id: 1,decription: 'eat'},
                       {id: 2,decription: 'sleep'},
                       {id: 3,decription: 'walk'},
                       {id: 4,decription: 'work'},
                       {id: 5,decription: 'play'}
                   ]    
                }
            }
        }
        const vue = Vue.createApp(App)
        vue.mount('#app')
    </script>
</body>
</html>